@media screen and(min-width:800px) {
    .top{
        width: 100%;
    }
    h4,h1,h2{
        margin-left: 0px;
    }
    .but #button{
        display: block;
        width: 100%;
    }

}
@media (max-width:762px){
    .mid .img img{
        width: 100%;
        height: 100%;
    }
    .but #button{
        display: flexbox;
        width: 100%;
        text-align: justify;
    }
}
.top{
    display: flex;

}
.top nav{
    background-color: currentColor;
    width: 2vw;
    z-index: -1;
}
.top nav form div span{
    color: aliceblue;
    margin-left: 10px;
    z-index: -1;
}
.top  h1,h2,h4{
    color: aliceblue;
    z-index: 1;
}
.heading{
    margin-left: -52vw;
    margin-top: 48vh;
}
.heading2{
    margin-left: -7vw;
    margin-top: 52vh;
}
.heading3{
    margin-left: -3vw;
    margin-top: 55vh;
}
.mid{
    width: 50%;
    text-align: center;
    margin-left: 28%;
    margin-top: 2vh;
}
.but{
    display: flex;
    margin-left: 25%;
}
 .but #button{
    width: 100%; ;
    display: block;
    margin-top: 4vh;
    padding: 16px 7vw;
    margin-inline-start:3vw;
    background: #EA504E;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFF;
    line-height: 1em;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}
.para p{
    text-align: justify;
    font-family: cursive;
    font-size: larger;
}
.mid .para div{
    color: black;
    text-align: left;
    font-weight: bold;
    font-size: 30px;
}
.img img{
    width:100%;
    height: 100%;
    margin-top: 4vh;
    align-items: initial;
}
.para1{
    text-align: justify;
}

#inpara{
    text-align: justify;
    font-family: cursive;
    font-size: larger;
}
.last{
    display: flex;
}
.last #butl1{
    background: blue;
}
.last #butl2{
background:slategray ;
    
}
.last #butl3{
    background: #EA504E;
}
.last #butl4{
    background: yellow;
}
.last button{
    width: 100%;
    display: block;
    /* margin-top: 4vh; */
    padding: 13px 2vw;
    margin-inline-start: 0vw;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: #FFF;
    line-height: 1em;
    cursor: pointer;
    opacity: 1;
    -webkit-transition: opacity .25s ease-in-out;
    transition: opacity .25s ease-in-out;
}